@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}


html{
    scroll-behavior: smooth;
}




.heroInicio{
    background-image: linear-gradient( 
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    )
    ,url(../media/comprimidas/hero5.jpg);
    height: 90vh;
}

.heroContacto{
    background-image: linear-gradient( 
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    )
    ,url(../media/hero\ 3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
   }

.contactInfo{
  
    
    display: flex;
    justify-content: flex-end;
    
}

/* .mb-3{
    max-width: 500px;
    justify-content: center;
    } */



/* footer{
    color: aliceblue;
} */





/* fondo? */

/* fondo 4 real? */

#contacto2{
    background-image: linear-gradient( 
        0deg,

        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    )
    ,url(../media/comprimidas/hero\ 1\ real.png);
    height: 100vh;

    background-size:cover;
    background-repeat: no-repeat;
    
    

}
     
 

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}





footer{

    height: 105px;
    color: #FFF;
    background-color: #172029;
    text-align: center;
}


.fondoQuienesSomos{
   
    
    background-image:
   
    
    linear-gradient( 
        0deg,

        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    ),

    url(../media/cabrafachera2.jpg);
    
    height: max-content;
   
    background-size: cover;

    background-repeat: no-repeat;
}


.containerQuienesSomos{
    background-color:aquamarine
}

p{
    color:azure
}

.fondoGaleria{
    background-color: #172029;
}

.tituloIndex{
   box-sizing: border-box;

}





@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}
